# Исключаем системные и конфигурационные папки
.git
.gitignore
.vscode
.idea
__pycache__
*.pyc
*.pyo
*.pyd

# Исключаем локальные данные и окружение
.env
.venv
env/
venv/
celerybeat-schedule

# Исключаем логи, если они появятся
*.log

# Исключаем лишние файлы настроек Docker Compose и документацию
compose.dev.yaml
README.md

# Учитывая структуру из image_e0ea9a.png, 
# если вы планируете собирать Docker-образ из корня:
# .dockerignore будет предотвращать копирование этих файлов в образ